/* Definindo variáveis de cores */
:root {
    --background-color: #696969;
    --card-background-color: #262626;
    --primary-color: #000; /* Azul mais moderno */
    --secondary-color: #f1f1f1; /* Cinza claro */
    --text-color: #ffffff; /* Texto branco */
    --button-hover-color: #000; /* Cor mais intensa para hover */
    --shadow-color: rgba(0, 0, 0, 0.1); /* Cor de sombra suave */
}

/* Corpo da página */
body {
    font-family: 'Lato', sans-serif; /* Fonte mais moderna e legível */
    background-color: var(--background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    overflow: auto;
    color: var(--text-color); /* Garantir que o texto padrão seja branco */
}

/* Título do atleta */
.nome-content {
    margin: 20px 0;
    text-align: center;
    font-size: 32px;
    color: var(--primary-color);
}

/* Container principal do card */
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    max-width: 1000px;
    height: auto;
    border-radius: 12px;
    padding: 20px;
    margin: 20px;
    background-color: var(--card-background-color);
    box-shadow: 0 4px 12px var(--shadow-color);
    position: relative;
    transition: all 0.3s ease;
}

/* Efeito de hover no card */
.card:hover {
    box-shadow: 0 6px 20px var(--shadow-color);
    transform: translateY(-5px);
}

/* Container de informações (imagem e texto) */
.info-container {
    display: flex;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 20px;
    gap: 20px;
}

/* Imagem do atleta */
.imagem {
    width: 250px;
    height: 250px;
    object-fit: cover; /* Garante que a imagem preencha o espaço sem distorção */
    border-radius: 12px;
    border: 4px solid #ddd;
    transition: transform 0.3s ease-in-out; /* Transição suave para o zoom */
}

/* Efeito de hover na imagem */
.imagem:hover {
    transform: scale(1.2); /* Aumenta a imagem em 20% quando o mouse passa por cima */
    object-fit: contain; /* Garante que a imagem não será cortada durante o zoom */
}


/* Container de texto */
.text-container {
    display: flex;
    flex-direction: column;
    width: 60%;
    padding: 15px;
}

/* Descrição do atleta */
.content-descricao {
    margin: 20px 0;
    font-size: 1.1em;
    color: var(--text-color); /* Cor do texto agora é branca */
    line-height: 1.5;
    text-align: justify;
}

/* Container de estatísticas */
.stats-container {
    width: 100%;
    max-width: 960px;
    text-align: left;
    margin-top: 20px;
}

/* Estatísticas */
.stats {
    display: flex;
    flex-direction: column;
    font-size: 1.1em;
    color: var(--text-color); /* Cor do texto agora é branca */
}

/* Estatísticas individuais */
.stats p {
    margin-bottom: 10px;
    font-weight: 500;
}

/* Botão de voltar */
.botao-voltar {
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 12px 24px;
    font-size: 18px;
    border-radius: 6px;
    cursor: pointer;
    align-self: flex-start;
    transition: background-color 0.3s ease;
}

.botao-voltar:hover {
    background-color: var(--button-hover-color);
}

/* Media Queries */
@media (max-width: 768px) {
    .card {
        width: 100%;
        margin: 10px;
        padding: 15px;
    }

    .info-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .imagem {
        width: 80%;
        height: auto;
        margin-bottom: 15px;
    }

    .text-container {
        width: 90%;
        text-align: center;
    }

    .content-descricao {
        font-size: 1em;
    }

    .stats-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1em;
    }

    .stats p {
        font-size: 1.2em;
    }
}

@media (min-width: 1100px) and (max-width: 1400px) {
    .card {
        margin: 20px;
        padding: 20px;
    }

    .imagem {
        width: 300px;
        height: 300px;
    }

    .nome-content {
        margin-top: 10px;
        font-size: 28px;
    }

    .content-descricao {
        font-size: 1.2em;
    }

    .stats p {
        font-size: 1.3em;
    }
}
